.c-cases {
  @include flex-grid-row();
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.c-cases__item {
  @include flex-grid-column(4);
  margin-bottom: 0.25rem;
}

.c-cases__card {
  @include card-container();
  min-height: 16rem;
  border-radius: 0.375rem;
}

.c-cases__card-section {
  @include card-section();
  text-align: center;
}
