.form-wrapper {
  max-width: 25rem;
  margin: 5rem auto;
  padding: 1rem 2rem;
  border: 3px solid #0295AA;
}

.form-heading {
  font-size: 1.5rem;
}

.form-control {
  border: 2px solid #e0e0e0;
  border-radius: 0.375rem;
  color: #3d3c40;
  box-shadow: none;
  outline: none;
  &:active, &:focus {
    border: 2px solid #bbbdbf;
    box-shadow: none;
    outline: none;
  }
}
