.c-frontcats {
}

.c-frontcats__item {
  color: map-get($foundation-palette, bluuuuue);
}

.c-frontcats__image {
  height: 8rem;
  width: 8rem;
}

.c-frontcats__title {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 1rem;
}
