.c-logo {

  &__link {

  }
  &__text {
    font-size: 1.5rem;
    font-family: "GothamProMedium",
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 700;
  }
}

#logo-oxwork {
  display: inline-block;
  vertical-align: middle;
  height: 3rem;
  margin-right: 1rem;
  fill: #0295AA;
}

#logo-oxwork-banner {
  display: inline-block;
  vertical-align: middle;
  height: 8rem;
  fill: $white;
}
