.l-footer {
    color: $white;
}

.l-footer-top {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #0295AA;
}

.l-footer-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: darken(#0295AA, 15%);
}
