.l-header {
  width: 100%;
  background-color: $topbar-background;
}

.l-header--border-bottom {
  border-bottom: 1px solid #e0e0e0;
}

.l-navbar {
  @include top-bar-container;

  // Stack on small screens by default
  @include top-bar-stacked;

  @include breakpoint($topbar-unstack-breakpoint) {
    @include top-bar-unstack;
  }

  // Generate classes for stacking on each screen size (defined in $breakpoint-classes)
  @each $size in $breakpoint-classes {
    @if $size != $-zf-zero-breakpoint {
      &.stacked-for-#{$size} {
        @include breakpoint($size down) {
          @include top-bar-stacked;
        }
      }
    }
  }
}

.l-navbar__left,
.l-navbar__right {
  flex: 0 0 auto;
}
