.l-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.l-main {
  flex: 1;
}

.l-main--dashboard {
  background-color: $back-gray;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
