.l-section {

  padding-top: 2rem;
  padding-bottom: 2rem;

  &--banner {
    padding-bottom: 3rem;
    padding-top: 4rem;
    background-image: url("../images/banner.jpg");
    background-position: center bottom;
    min-height: 30rem;
    height: 60vh;
  }
}
