.u-m {
  &--b4 {
    margin-bottom: 4rem;
  }
}

.u-m {
  &--t4 {
    margin-top: 4rem;
  }
}

.u-c {
  &--greeeeen {
    color: #CAFF42;
  }
}

.text {
  &--center {
    @extend .text-center;
  }
  &--up {
    text-transform: uppercase;
  }
  &--white {
    color: $white;
  }
  &--greeeeen {
    color: #CAFF42;
  }
  &--medium {
    font-size: 1.5rem;
  }
  &--section-title {
    color: #0295AA;
    font-family: "GothamProMedium",
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 2rem;
  }
  &--footer-title {
    font-family: "GothamProMedium",
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  }
  &--banner {
    font-family: "GothamProBold",
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  }
}

.link {
  &--white {
    color: $white;
    &:hover, &:focus {
      color: darken($white, 10%);
    }
  }
}

.list {
  &--unstyled {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
}

.button--light {
  background: none;
  border: 3px solid #0295AA;
  border-radius: 0;
  color: #0295AA;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1;
  margin: 0 0 1rem;
  padding: 0.85em 1em;
  text-align: center;
  transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s;
  vertical-align: middle;
  &:hover, &:focus {
    background-color: #0295AA;
    color: $white;
  }
}

.banner-image {
  width: 10rem;
}
